/* .homeContainer {
  width: 100%;
  height: 70vh; 
  background-image: url("../../timisoara.jpg");
  background-size: contain; 
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
} */

.overlay {
  text-align: center;
  background: rgba(0, 0, 0, 0.5); /* fundal semi-transparent pt text */
  padding: 20px 40px;
  border-radius: 12px;
}

.overlay h1, .overlay p {
  color: white;
}

.overlay button {
  margin-top: 15px;
  padding: 12px 22px;
  border: none;
  border-radius: 8px;
  background: white;
  cursor: pointer;
  font-weight: bold;
}

.homeTitle {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 10px;
}

.homeSubtitle {
  font-size: 18px;
  margin-bottom: 25px;
  color: #555;
}

.uploadBtn {
  padding: 12px 22px;
  font-size: 16px;
  background: #000;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  color: #fff;
  font-weight: 500;
  transition: 0.25s ease-in-out;
}

.uploadBtn:hover {
  background: #333;
  transform: scale(1.08);
}

.content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url("../../timisoara.jpg"); /* imagine de fundal */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: brightness(85%); /* optional să fie puțin mai întunecată */
  flex-grow: 1; /* face main-ul mai mare */
  padding: 40px 20px; /* spațiu frumos în jur */
}

.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
