.report-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}

.report-card {
  width: 500px;
  padding: 20px;
  border-radius: 12px;
}

.report-title {
  text-align: center;
  margin-bottom: 20px;
}

.report-field {
  margin-bottom: 15px;
}

.upload-box {
  margin-bottom: 15px;
  text-align: center;
}

.image-preview {
  margin-top: 10px;
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  border-radius: 10px;
  border: 2px solid #ddd;
}
