:root {
  --primary-color-light: #ebebeb9d;
  --contrast-color: #0000008f;
  --font: sans-serif;
  --rail-inactive-color: #d0d0d0;
  --tracker-dot-color: #F44336;
  --tracker-dot-size: 10px;
}

.nav-container {
    height: 75px;
    width: calc(100% - 5rem);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-color-light);
    padding: 1rem 3rem;
}

.nav-logo {
    height: 50px;
    width: auto;
    object-fit: contain;
}

.nav-center {
    flex: 1;
    display: flex;
    justify-content: center;
}

.nav-railway {
  position: relative;
}

.nav-rail {
    --index: 1;
    --position: calc((var(--index) * 10rem) - 5rem - ((var(--tracker-dot-size) / 2) + 2px));
    position: absolute;
    height: 6px;
    background: var(--rail-inactive-color);
    width: 410px;
    top: 0;
}

.nav-rail:before {
    content: "";
    position: absolute;
    left: 0;
    background: var(--contrast-color);
    height: 100%;
    width: var(--position);
    transition: width 0.5s ease-in-out;
}

.nav-rail:after {
    content: "";
    position: absolute;
    right: 0;
    left: var(--position);
    height: 100%;
    transition: left 0.5s ease-in-out;
}

.nav-tracker {
    position: absolute;
    width: var(--tracker-dot-size);
    height: var(--tracker-dot-size);
    background: var(--tracker-dot-color);
    border: 2px solid var(--primary-color-light);
    box-shadow: 0 0 0 3px var(--primary-color-light);
    animation: pulse 1s infinite linear;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 2rem;
    transition: left 0.5s ease-in-out;
    left: var(--position);
    z-index: 10;
}

.nav-items {
    display: flex;
    align-items: center;
}

.nav-item {
    text-decoration: none;
    position: relative;
    width: 10rem;
    height: 6px;
    color: var(--contrast-color);
    cursor: pointer;
}

.nav-item:before {
    background: var(--rail-inactive-color);
    content: "";
    width: 6px;
    height: 16px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}

.nav-item.dot:before {
    content: "";
    width: calc((var(--tracker-dot-size) * 2) + 10px);
    height: calc((var(--tracker-dot-size) * 2) + 10px);
    position: absolute;
    background: white;
    border-radius: 1rem;
    box-shadow: inset 0 0 0 5px var(--contrast-color);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.nav-item span {
    position: absolute;
    text-align: center;
    inset: 0;
    top: -2.5rem;
    display: flex;
    align-items: start;
    justify-content: center;
    font-weight: 500;
    white-space: nowrap;
}

.nav-item:hover span {
    font-weight: 600;
}

.nav-user {
    display: flex;
    align-items: center;
}

.user-icon {
    height: 60px;
    cursor: pointer;
    margin-right: 1rem;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0px rgba(255, 0, 0, 0.5);
    }
    100% {
        box-shadow: 0 0 0 8px rgba(255, 0, 0, 0);
    }
}
