footer {
 padding: 10px;
  font-size: 14px;
  text-align: center;
  background: #1a1a1a;
  color: #ccc;
  border-top: 1px solid #333;
  height: 40px; /* face footer-ul mai sub»õire */
  display: flex;
  justify-content: center;
  align-items: center;
}
