.toast-snackbar .MuiPaper-root {
  min-width: 350px !important;
  border-radius: 12px;
}

/* Makes the Alert itself bigger */
.toast-alert {
  font-size: 1.2rem !important; /* bigger text */
  padding: 16px 10px !important; /* more padding */
}

/* Makes the Alert icon bigger */
.toast-alert .MuiAlert-icon {
  font-size: 2rem !important;
}

.register-page {
  height: 100vh;
  background: #f0f2f5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-card {
  width: 380px;
  padding: 40px;
  border-radius: 16px;
  background: white;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.register-title {
  text-align: center;
  font-weight: 700 !important;
  margin-bottom: 20px !important;
}

.register-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.register-button {
  margin-top: 14px !important;
  padding: 12px !important;
  background-color: #101622 !important;
  font-size: 16px !important;
  border-radius: 10px !important;
}

.register-button:hover {
  background-color: #000000 !important;
}

.register-divider {
  height: 12px;
}
