.register-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f4f4f4;
}

.register-card {
  width: 380px;
  padding: 32px;
  border-radius: 12px;
}

.register-title {
  text-align: center;
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 20px;
}

.register-form {
  display: flex;
  flex-direction: column;
}

.register-divider {
  height: 16px;
}

.register-button {
  margin-top: 10px !important;
  padding: 10px 0 !important;
}
